:root {
  /* Variables globales */
  --bg-black: #1a1e26;
  --color-primary: #7693a6;
  --color-secondary: #d9a86c;
  --color-tertiary: #85c1a5;
  --color-white: #f5f5f5;
}

@font-face {
  /* Fuente de texto */
  font-family: "Toroka Wide"; /* Nombre de la fuente */
  src: url("fonts/Toroka-WideLight.woff2") format("woff2"),
    url("fonts/Toroka-WideLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* Fuente de texto */
  font-family: "Toroka Wide";
  src: url("fonts/Toroka-WideRegular.woff2") format("woff2"),
    url("fonts/Toroka-WideRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  /* Resetear valores por defecto de CSS */
  margin: 0; /* Margen por defecto */
  padding: 0; /* Relleno por defecto */
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 1rem = 10px */
}

body {
  padding-top: 12rem; /* Espacio para evitar que el contenido se oculte debajo de la navbar */
  background-color: var(--bg-black);
  font-family: Toroka Wide;
}

/* LOADER CONTENT */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.loader-content { /* Contenedor del SVG */
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-content svg {
  width: 50vh; /* Ajusta el tamaño del SVG al 50% del ancho de la pantalla */
  max-width: 30%;
}

/* Navbar */
nav {
  position: fixed; /* Posicionamiento fijo de la navbar */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Asegura que esté sobre otros elementos */
  display: flex; /* Para que los elementos se pongan uno al lado del otro */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Ajusta el tamaño del recuadro */
  width: 100%; /* Ancho máximo para que el navbar ocupe toda la pantalla */
  height: 12rem;
  background-color: var(--bg-black);
}

nav .logo {
  /* Ajusta la ubicación del logo */
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
}

.logo {
  /* Ajusta la ubicación del logo */
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}

.nav-links {
  /* Ajusta la ubicación de los enlaces */
  list-style: none;
  display: flex;
  padding-right: 3rem;
}

.nav-links a {
  /* Ajusta los estilos de los enlaces de la navbar */
  margin-left: 1rem;
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.9rem;
  font-weight: 700;
  padding: 1rem 1rem; /* Ajusta el tamaño del recuadro */
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Transición suave */
  min-width: 80px; /* Ancho mínimo para mantener consistencia */
  text-align: center; /* Centra el texto dentro del recuadro */
}

.nav-links li {
  /* Estilos de los elementos <li> del navbar */
  margin-left: 1rem;
  color: var(--color-secondary);
  display: flex; /* Asegura que el <a> esté centrado dentro del <li> */
  align-items: center; /* Centra verticalmente el contenido */
}

.nav-links a:hover {
  /* Estilos de los link del navbar al hacer hover */
  color: white;
  background-color: var(--color-secondary);
  transform: scale(1.2); /* Aumenta el tamaño al hacer hover */
  transition: all 0.3s ease; /* Transición suave */
}

/* Efecto de transparencia al hacer scroll */
nav.scrolled {
  background-color: rgba(26, 30, 38, 0.95); /* Color con opacidad */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

/* Efecto de reducción de tamaño al hacer scroll */
nav.scrolled .logo {
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
}

/* Efecto de reducción de tamaño al hacer scroll */
nav.scrolled .nav-links a {
  font-size: 1.8rem;
  padding: 0.8rem 1rem;
}

/* Carrusel */

.carrusel {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.carousel-container {
  padding-top: 5rem;
  margin-bottom: 1.5rem;
  position: relative;
  max-width: 25vw;
  height: 42vw; 
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 30px rgba(8, 9, 12, 0.569);
}

/* Contenedor de imágenes en línea */
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Estilos de las imágenes */
.carousel img {
  width: 100%;
  border-radius: 1rem;
}

/* Botones de navegación */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

/* Sinopsis */
.sinopsis {
  margin-top: 15rem;
}

.text-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

.degraded-image {
  margin-right: -30rem;
}

.degraded-image img {
  width: 100%;
  mask-image: linear-gradient(to bottom, #1a1e26 -15%, transparent 70%);
  filter: contrast(1.1);
}

.sinopsis-text {
  color: var(--color-white);
  font-size: 20px;
}

/* Galeria */
.galeria-title, .sinopsis-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-white);
}

.galeria-container, .galeria-characters {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.image {
  width:35%;
  padding: 0.5rem;
}

.image img {
  width: 100%;
  border-radius: 1.5rem;
  transition: transform 0.3s;
}

#galeria img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.popup{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.85);
  z-index: 100;
}

.popup-image   {
  margin: auto;
  width: 80%;
  height: 80%;
  object-fit:contain;
  border-radius: 0.9rem;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.popup span {
  position:absolute;
  top: 0;
  right: 1vw;
  font-size: 35px;
  color: var(--color-white);
}
.close:hover, .close:focus {
  cursor: pointer;
  color: var(--color-secondary);
}



.container {
  display: flex;
  background: rgb(217, 168, 108); 
  padding: 30px;
  width: 70%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 15rem;
  margin-bottom: 25rem;
}

.form-container {
  flex: 1;
  padding-right: 20px;
}

.info-container {
  flex: 1;
  padding-left: 20px;
  border-left: 2px solid var(--bg-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  font-size: 16px;

}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--bg-black);
  border-radius: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}

.checkbox-container input {
  margin-right: 8px;
}

button {
  background: var(--bg-black);
  color: var(--color-white);
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}
button:hover {
  background-color: var(--color-primary);
}


#div-footer {
   background: rgba(31, 30, 64, 0.686);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#info-redes{
  padding-top: 20px;
  color: var(--color-white);
  margin:auto;
  width: 25%;
}

#info-redes a {
  color: var(--color-white);
  text-decoration: none;
}

#redes a {
  padding-right: 10px;
  text-decoration: none;
}

#autores{
  padding-top: 20px;
  color: var(--color-white);
  margin: 0 auto;
  width: 30%; 
} 
/* Contenedor del mapa con fondo blanco */
#mapa {
  padding-top: 20px; /* Espaciado superior */
  margin: auto;
  width: 30%;  /* El mapa ocupará el 30% del ancho de la pantalla */
  display:flex; /* Se mantiene en una posición fija en la pantalla */
}

/* Ajuste del iframe dentro del contenedor */
#mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  box-shadow: var(--color-tertiary) 0 0 10px; /* Sombra alrededor del mapa */
}

#logos-patrocinadores {
  width: 100%; /* Ancho completo de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0; /* Espaciado superior e inferior */
}

#logos-patrocinadores img {
  width: 100%; /* Ocupa todo el ancho del contenedor */

}