:root {
  /* Variables globales: Definen colores reutilizables en todo el CSS */
  --bg-black: #1a1e26; /* Color de fondo oscuro */
  --color-primary: #7693a6; /* Color principal, usado en elementos destacados */
  --color-secondary: #d9a86c; /* Color secundario, usado para contraste */
  --color-tertiary: #85c1a5; /* Color terciario, usado en hover y detalles */
  --color-white: #f5f5f5; /* Color blanco, para textos o fondos claros */
}

@font-face {
  /* Definición de una fuente personalizada */
  font-family: "Toroka Wide"; /* Nombre de la fuente que se usará en CSS */
  src: url("fonts/Toroka-WideLight.woff2") format("woff2"),
    /* Fuente en formato woff2 */ url("fonts/Toroka-WideLight.woff")
      format("woff"); /* Fuente en formato woff */
  font-weight: 300; /* Grosor ligero de la fuente */
  font-style: normal; /* Estilo normal (ni itálico ni negrita) */
  font-display: swap; /* Optimización: usa una fuente alternativa mientras carga */
}

@font-face {
  /* Otra variante de la fuente con diferente peso */
  font-family: "Toroka Wide";
  src: url("fonts/Toroka-WideRegular.woff2") format("woff2"),
    url("fonts/Toroka-WideRegular.woff") format("woff");
  font-weight: normal; /* Grosor estándar */
  font-style: normal;
  font-display: swap;
}

* {
  /* Reset de estilos: elimina márgenes y paddings por defecto del navegador */
  margin: 0; /* Evita márgenes predeterminados en todos los elementos */
  padding: 0; /* Evita padding predeterminado en todos los elementos */
  box-sizing: border-box; /* Asegura que padding y border no aumenten el tamaño de los elementos */
}

/* Personalización de la barra de desplazamiento en navegadores WebKit */
::-webkit-scrollbar {
  width: 10px; /* Define el ancho de la barra de desplazamiento */
}

/* Estilo del track (fondo de la barra de desplazamiento) */
::-webkit-scrollbar-track {
  background: white; /* Color del fondo de la barra de desplazamiento */
  border-radius: 5px; /* Bordes redondeados para un mejor diseño */
}

/* Estilo del thumb (barra de desplazamiento) */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary); /* Color de la barra móvil */
  border-radius: 5px; /* Bordes redondeados para un diseño moderno */
  transition: background 0.3s ease; /* Transición suave al cambiar de color */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-tertiary); /* Cambio de color al pasar el mouse */
}

html {
  font-size: 10px; /* Define la base de la unidad rem (1rem = 10px) */
}

body {
  padding-top: 12rem; /* Espacio superior para evitar que el contenido quede oculto por la navbar */
  background-color: var(
    --bg-black
  ); /* Aplica el color de fondo definido en :root */
  font-family: Toroka Wide; /* Usa la fuente personalizada definida anteriormente */
}

/* Loader de carga */
#loader {
  position: fixed; /* Se mantiene en la misma posición en la pantalla */
  top: 0;
  left: 0;
  width: 100%; /* Cubre toda la pantalla */
  height: 100%;
  background: black; /* Color de fondo mientras carga */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  z-index: 1000; /* Se asegura de estar por encima de otros elementos */
  opacity: 1; /* Inicialmente es completamente visible */
  transition: opacity 0.5s ease-in-out; /* Hace que desaparezca suavemente */
}

.loader-content {
  /* Contenedor del SVG */
  position: relative; /* Establece la posición del contenedor como relativa, lo que permite posicionar elementos hijos de manera absoluta dentro de él */
  width: 100%; /* El ancho del contenedor será el 100% del ancho del elemento padre */
  height: 100%; /* La altura del contenedor será el 100% de la altura del elemento padre */
  display: flex; /* Utiliza el modelo de caja flexible para el contenedor, lo que facilita la alineación y distribución de los elementos hijos */
  justify-content: center; /* Alinea los elementos hijos horizontalmente en el centro del contenedor */
  align-items: center; /* Alinea los elementos hijos verticalmente en el centro del contenedor */
}

.loader-content svg {
  width: 50vh; /* Hace que el SVG ocupe la mitad de la altura de la pantalla */
  max-width: 30%; /* Restringe su tamaño máximo al 30% del ancho */
}

/* Navbar (barra de navegación) */
nav {
  position: fixed; /* Se mantiene fija en la parte superior */
  top: 0;
  left: 0;
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  z-index: 100; /* Se coloca por encima del contenido */
  display: flex; /* Organiza los elementos en una fila */
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 2rem 0;
  height: 10rem; /* Altura fija de la navbar */
  transition: transform 0.5s ease-in-out;
  background-color: var(--bg-black);
}

nav .logo {
  display: flex; /* Utiliza flexbox para organizar los elementos del logo en una fila */
  align-items: center; /* Centra el logo verticalmente */
  margin-left: 10rem; /* Margen izquierdo */
  width: 10rem; /* Tamaño del logo */
  height: 10vh;
}

.nav-links {
  /* Ajusta la ubicación de los enlaces */
  list-style: none; /* Elimina los puntos de la lista */
  display: flex; /* Utiliza el modelo de caja flexible para organizar los enlaces en una fila */
  padding-right: 8rem; /* Agrega un espacio de 3rem a la derecha de los enlaces */
}

.nav-links a {
  /* Ajusta los estilos de los enlaces de la navbar */
  margin-left: 2rem; /* Espacio a la izquierda de cada enlace */
  color: var(--color-white); /* Color del texto de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  display: flex; /* Utiliza flexbox para los enlaces */
  justify-content: space-between; /* Espacio entre los elementos internos */
  font-size: 1.9rem; /* Tamaño de la fuente de los enlaces */
  font-weight: 700; /* Grosor de la fuente */
  padding: 1rem 1rem; /* Espaciado interno de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Transición suave para cambios de estilo */
  min-width: 80px; /* Ancho mínimo para mantener consistencia */
  text-align: center; /* Centra el texto dentro del recuadro */
}

.nav-links li {
  /* Estilos de los elementos <li> del navbar */
  margin-left: 1rem;
  color: var(--color-secondary);
  display: flex; /* Asegura que el <a> esté centrado dentro del <li> */
  align-items: center; /* Centra verticalmente el contenido */
}

.nav-links a:hover {
  /* Estilos de los link del navbar al hacer hover */
  color: white;
  background-color: var(--color-secondary);
  transform: scale(1.2); /* Aumenta el tamaño al hacer hover */
  transition: all 0.3s ease; /* Transición suave */
}

/* Carrusel */

.carousel-section {
  width: 100vw;
  height: 90vh;
}

.slider {
  margin: 0 auto;
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: visible;
}

.item {
  position: absolute;
  width: 25vw;
  height: 65vh;
  text-align: justify;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0;
  transition: 0.5s;
  left: calc(50% - 12.5vw);
  top: 24%;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.prev,
.next {
  position: absolute;
  top: 64%;
  transform: translateY(-50%);
  background-color: rgba(193, 191, 191, 0.411);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.prev {
  left: calc(40rem);
}

.next {
  right: 40rem;
}

.prev:hover,
.next:hover {
  transform: translateY(-50%) scale(1.2);
}

/* Sinopsis */
.sinopsis {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.text-image {
  display: flex; /* Modelo de caja flexible */
  justify-content: center; /* Alineación horizontal centrada */
  align-items: center; /* Alineación vertical centrada */
  padding: 0 15%; /* Espaciado interno horizontal */
  gap: 20rem;
}

.degraded-image {
  border: none; /* Sin borde */
  width: 100%; /* Ancho completo */
  height: 100%;
}

/* Imagen degradada */
.degraded-image img {
  margin-top: 5rem; /* Espaciado superior */
  width: 100%; /* Ancho de la imagen mayor al contenedor para crear un efecto de desbordamiento */
  height: auto; /* Altura automática para mantener la proporción de la imagen */
  transform: scale(2.5); /* Aumenta el tamaño de la imagen */
  mask-image: radial-gradient(
    circle,
    black 0%,
    transparent 80%
  ); /* Máscara radial para crear un efecto de degradado circular */
  -webkit-mask-image: radial-gradient(
    circle,
    var(--bg-black) 10%,
    transparent 50%
  ); /* Máscara radial para navegadores WebKit */
  filter: brightness(1.3) contrast(1.1); /* Ajuste de brillo y contraste para mejorar la visibilidad */
}

/* Texto de la sinopsis */

/* Título de la sinopsis */
.sinopsis-title {
 text-align: left;
 font-size: 3rem; /* Tamaño de la fuente */
 font-weight: bold; /* Fuente en negrita */
 color: var(--color-white); /* Color del texto */
 padding-bottom: 5rem;
}

.sinopsis-text {
  color: var(--color-white); /* Color del texto */
  font-size: 20px; /* Tamaño de la fuente */
}

/* Galería */
.galeria {
  width: 100vw;
  height: 100vh;
 }


/* Título de la galería*/
.galeria-title {
  text-align: center; /* Alineación centrada del texto */
  font-size: 3rem; /* Tamaño de la fuente */
  font-weight: bold; /* Fuente en negrita */
  color: var(--color-white); /* Color del texto */
  padding-top: 15rem;
  padding-bottom: 5rem;
}

/* Contenedor de la galería */

.galeria-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.galeria-container,
.galeria-characters {
  display: flex; /* Modelo de caja flexible */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: center; /* Alineación centrada de los elementos */
}

/* Estilo de las imágenes */
.image {
  width: 35%; /* Ancho de las imágenes */
  padding: 0.8rem; /* Espaciado interno */
}

.image img {
  width: 100%; /* Ancho completo de la imagen */
  border-radius: 1.5rem; /* Bordes redondeados */
  transition: transform 0.3s; /* Transición suave para el efecto de transformación */
}

.characters {
  width: 100vw;
  height: 100vh;
}

.galeria-characters {
  margin-top: 5rem;
}

.galeria-characters .image {
  width: 25%; /* Ancho de las imágenes */
  margin: 5rem auto;
}

.characters-title {
  text-align: center; /* Alineación centrada del texto */
  font-size: 3rem; /* Tamaño de la fuente */
  font-weight: bold; /* Fuente en negrita */
  color: var(--color-white); /* Color del texto */
  padding-top: 15rem;
  padding-bottom: 5rem;
}


/* Efecto hover en las imágenes de la galería */
.galeria-container img:hover,
.galeria-characters img:hover {
  transform: scale(1.05); /* Aumenta el tamaño de la imagen al pasar el mouse */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

/* Popup para la galería */
.popup {
  display: none; /* Oculta el popup por defecto */
  position: fixed; /* Posicionamiento fijo */
  top: 0;
  left: 0;
  width: 100%; /* Ancho completo de la pantalla */
  height: 100%; /* Altura completa de la pantalla */
  background: rgb(0, 0, 0, 0.85); /* Fondo semi-transparente */
  z-index: 100; /* Se asegura de estar por encima de otros elementos */
}

/* Imagen dentro del popup */
.popup-image {
  margin: auto; /* Centrado horizontal */
  width: 80%; /* Ancho de la imagen */
  height: 80%; /* Altura de la imagen */
  object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
  border-radius: 0.9rem; /* Bordes redondeados */
  -webkit-animation-name: zoom; /* Animación de zoom para navegadores WebKit */
  -webkit-animation-duration: 0.5s; /* Duración de la animación */
  animation-name: zoom; /* Animación de zoom */
  animation-duration: 0.5s; /* Duración de la animación */
}

/* Animación de zoom para navegadores WebKit */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  } /* Escala inicial */
  to {
    -webkit-transform: scale(1);
  } /* Escala final */
}

/* Animación de zoom */
@keyframes zoom {
  from {
    transform: scale(0);
  } /* Escala inicial */
  to {
    transform: scale(1);
  } /* Escala final */
}

/* Botón de cierre del popup */
.popup span {
  position: absolute; /* Posicionamiento absoluto */
  top: 0;
  right: 1vw; /* Distancia desde el borde derecho */
  font-size: 35px; /* Tamaño de la fuente */
  color: var(--color-white); /* Color del texto */
}

/* Efecto hover en el botón de cierre */
.close:hover,
.close:focus {
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  color: var(--color-secondary); /* Color del texto al hacer hover */
}

/* Formulario */
.form {
  width: 100vw;
  height: 100vh;
}

.titulo-form {
  text-align: center; /* Alineación centrada */
  font-size: 3rem; /* Tamaño de la fuente */
  font-weight: bold; /* Fuente en negrita */
  color: var(--color-white); /* Color del texto */
  padding-top: 20rem;
  padding-bottom: 8rem;
}

.form-container {
  display: flex;
}

/* Contenedor del formulario */
.form-box {
  display: flex; /* Modelo de caja flexible */
  background: rgb(217, 168, 108); /* Color de fondo */
  gap: 3rem;
  padding: 25px; /* Espaciado interno */
  width: 70%; /* Ancho del contenedor */
  border-radius: 20px; /* Bordes redondeados */
  margin: 0 auto; /* Centrado horizontal */
  padding: 5rem 0;
}

/* Contenedor del formulario */
.form-fields {
  flex: 1.5; /* Ocupa 1.5 veces mas espacio que el texto lateral */
  padding: 0 4rem; /* Espaciado interno */
}

/* Contenedor de información */
.info-container {
  flex: 1; /* Ocupa el mismo espacio que el contenedor del formulario */
  margin-left: 4rem; /* Espaciado a la izquierda */
  padding-left: 2rem; /* Espaciado interno a la izquierda */
  border-left: 2px solid var(--bg-black); /* Borde izquierdo */
  display: flex; /* Modelo de caja flexible */
  flex-direction: column; /* Dirección de los elementos en columna */
  justify-content: center; /* Alineación vertical centrada */
}

/* Estilo de los encabezados */
h2 {
  margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilo de los párrafos */
p {
  font-size: 16px; /* Tamaño de la fuente */
}

/* Estilo de los campos de entrada y área de texto */
input,
textarea {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin: 5px 0 20px 0; /* Espaciado externo */
  border: 1px solid var(--bg-black); /* Borde */
  border-radius: 10px; /* Bordes redondeados */
}

/* Contenedor de checkbox */
.checkbox-container {
  display: flex; /* Modelo de caja flexible */
  align-items: center; /* Alineación vertical centrada */
  gap: 8px; /* Espacio entre el checkbox y el texto */
}

/* Estilo del checkbox */
input[type="checkbox"] {
  width: 20px; /* Ancho del checkbox */
  height: 20px; /* Altura del checkbox */
  cursor: pointer; /* Cursor de puntero */
}

/* Estilo del texto del checkbox */
.checkboxtext {
  margin-top: -15px; /* Ajuste de margen superior */
  font-size: 110%; /* Tamaño de la fuente */
  display: inline; /* Muestra en línea */
}

/* Estilo del botón */
button {
  background: var(--bg-black); /* Color de fondo */
  color: var(--color-white); /* Color del texto */
  width: 100%; /* Ancho completo */
  padding: 12px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero */
  font-size: 16px; /* Tamaño de la fuente */
}

/* Estilo del botón al hacer hover */
button:hover {
  background-color: var(--color-primary); /* Cambio de color de fondo */
}

/* Contenedor del pie de página */

footer {
  margin-top: 15rem;
}

.div-footer {
  display: flex; /* Modelo de caja flexible */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: center; /* Alineación centrada */
  align-items: center; /* Alineación vertical centrada */
  padding: 10rem 2rem; /* Espaciado interno */
  background: rgba(31, 30, 64, 0.686); /* Color de fondo semi-transparente */
}

/* Información de redes sociales */
.info-redes {
  padding-top: 20px; /* Espaciado superior */
  color: var(--color-white); /* Color del texto */
  margin: auto; /* Centrado horizontal */
  width: 25%; /* Ancho del contenedor */
}

/* Estilo de los enlaces de redes sociales */
.info-redes a {
  color: var(--color-white); /* Color del texto */
  text-decoration: none; /* Sin subrayado */
}

/* Estilo de los enlaces de redes sociales */
.redes {
  padding-top: 2rem; /* Espaciado superior */
  padding-bottom: 2rem;
}

.redes a {
  padding-right: 10px; /* Espaciado a la derecha */
  text-decoration: none; /* Sin subrayado */
}

/* Información de los autores */
.autores {
  color: var(--color-white); /* Color del texto */
  margin: 0 auto; /* Centrado horizontal */
  width: 30%; /* Ancho del contenedor */
}

/* Contenedor del mapa */
.mapa {
  padding-top: 20px; /* Espaciado superior */
  margin: auto; /* Centrado horizontal */
  width: 30%; /* Ancho del contenedor */
  display: flex; /* Modelo de caja flexible */
}

/* Ajuste del iframe dentro del contenedor */
.mapa iframe {
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  border: none; /* Sin borde */
  border-radius: 1rem; /* Bordes redondeados */
  box-shadow: var(--color-tertiary) 0 0 10px; /* Sombra alrededor del mapa */
}

/* Contenedor de logos de patrocinadores */
.logos-patrocinadores {
  width: 100%; /* Ancho completo */
  display: flex; /* Modelo de caja flexible */
  justify-content: center; /* Alineación centrada */
  align-items: center; /* Alineación vertical centrada */
  padding: 2rem 1rem; /* Espaciado superior */
}

/* Estilo de las imágenes de los logos de patrocinadores */
.logos-patrocinadores img {
  width: 100%; /* Ancho completo */
}

/* Scroll por secciones */
html, body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}